.rounded {
    border-radius: 12px !important;
}

.rounded-left {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.rounded-right {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.btn {
    border-radius: 12px !important;
}

.form-control {
    box-shadow: none !important;
    border-right: none !important;
}

.form-control::placeholder {
    font-size: 14px;
}

.form-control:focus{
    border-color: #dee2e6 !important;
}

.input-group-text {
    background-color: transparent !important;
}